 <div class="panel panel-info">
      <div class="panel-heading">
         <h1 class="title">Lista Fornecedores</h1>
      </div> 
  <div class="panel-body">
<table class="table table-hover">
  <thead>
    <tr class="head-list">
    <td>Nome</td>
    <td>E-mail</td>
    <td>Fone</td>
    </tr>
  </thead>
<tbody>
  <tr class="body-list" *ngFor="let fornecedor of fornecedores | async">
    <td>{{fornecedor.nome}}</td>
    <td>{{fornecedor.email}}</td>
    <td>{{fornecedor.fone}}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align">
      <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>   
      </button>  
       <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
      <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>   
      </button>
    </td>
  </tr>
</tbody>
</table>
  </div>
   <div class="panel-footer">
    <button type="button" class="btn btn-success btn-lg" aria-label="Center Align" routerLink="/fornecedor">
      Novo Fornecedor
    </button>  
   </div>
 </div>
