  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>


<div class="alert alert-danger alert-dismissable fade-in" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="close"> 
  <span aria-hidden="true">&times;</span>
</button>
<h1> erro de testo</h1>
</div>

<div class="alert alert-success">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<div class="alert alert-warning fade in">
    <a  class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Warning!</strong> This alert box indicates a warning that might need attention.
</div>